@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
}

.section0{
    background-color: #000;
    height: 90vh;
    padding: 5rem;
}
.section1{
    margin-left: 2rem;
}
.host1{
    color: white;
    font-family: reco;
    font-size: 3rem;
}
.host2{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    /* text-align: left; */
    font-size: 1.3rem;
}
.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: .7rem 2rem;
    font-size: 1rem;
    border-radius: .3rem;
    color: black;
    cursor: pointer;
    background:white;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: rgb(206, 203, 203);
}

.section2{
    margin-left: rem;
    display: flex;
    flex-wrap: wrap;
}

.box{
    margin-top: 4rem;
    background-color: #033b63;
    border-radius: .4rem;
    margin-left: 2rem;
    width: 20%;
}
@media only screen and (max-width: 420px){
    .section2{
        flex-direction: column;
    }
    .box{
        width: 100%;
        padding: auto;
    }
}
@media only screen and (max-width:769px) and (min-width: 425px){
    .box{
        width: 40%;
    }
}

.box-h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    font-size: 1.3rem;

}

.box-p{
    color: white;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    padding-bottom: 1rem;
    padding-right: 2rem;

}

.section2 .box .i{
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 6rem;
    background-color: rgb(42, 42, 42);
    padding: .41rem;
    
}
@media(max-width: 450px){
    .section0{
        margin-left: 0rem;
        margin-top: 5rem;
        margin-right: 0rem;
    }

    .section2{
        margin-left: 0rem;
        display:inline-block;
        margin-right: 4rem;
    }
    
}