@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #191919;
}
.toast{
  font-weight: bold;
  border: 1px solid grey;
}
.toast div{
  display: flex;
  gap:20px;
}

::selection{
  background-color: rgba(105, 255, 105, 0.692);
}
